{require_otp_vsn, "R16|17"}.

{erl_opts, [
    debug_info,
    warn_untyped_record,
    warnings_as_errors,
    {parse_transform, lager_transform}
]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.

{escript_emu_args, "%%! -escript main cuttlefish_escript -smp disable +A 0\n"}.
{escript_incl_apps, [goldrush, getopt, lager]}.

{xref_checks, []}.
{xref_queries, [{"(XC - UC) || (XU - X - B - \"(rebar.*|mustache)\" : Mod)", []}]}.

{deps, [
    {getopt, ".*", {git, "git://github.com/jcomellas/getopt.git", {branch, "master"}}},
    {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "feature/otp-17"}}},
    {neotoma, ".*", {git, "git://github.com/seancribbs/neotoma.git", {branch, "master"}}}
]}.

{post_hooks, [
    {"win32", compile, "rebar escriptize"},
    {"(linux|darwin)", compile, "./rebar escriptize"}
]}.
